/* project selector css */
#projects{
    display: flex;
    flex-direction:column;
    margin: 1vh 10vw;
}

#projects a{
    text-decoration:none;
    color:#172121;
}

.project:hover{
    background-color: #E5D0CC;
    transform: scale(1.05);
    transition: all 0.5s ease;
    cursor: pointer;  
}

.project{
    border-radius: 15px;
    display:flex;
    flex-direction:row;
    margin-top:10px;
    padding: 15px 20px;
    background-color: #696a7b;
    border: 3px solid #E5D0CC;
}

.project img{
    width:10vw;
    border:2px solid #E5D0CC;
    border-radius: 12px;
}

.project p,h2 {
    padding-left: 20px;
}

/* button things */
#buttons{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

#buttons button {
    padding: 15px 30px; 
    font-size: 18px; 
    border: none;   
    background-color: #E5D0CC; 
    color: #172121;   
    /* margin: 5px; */
    /* border-radius: 5px; */
}

#buttons button:hover {
    background-color: #696a7b; 
    /* transform: scale(1.1); */
    transition: all 0.5s ease;
    cursor: pointer;  
}


/* nav css */
body{
    margin:0;
    background-color: #444554;
}
nav{
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display:flex;
    background-color:  #172121;
    margin:0;
    padding:10px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: #E5D0CC;
    padding: 10px;
}

li a:hover{
    background-color: #696a7b;
    font-size: 30px;
    transition: all 0.5s ease;
}


li a:active{
    background-color: white;
    color: #172121;
}