/* adjust for mobile viewing */
@media screen and (orientation: portrait) {
    .container{
        display:flex;
        flex-wrap: wrap;
    }

    .actual_img {
        width: 100%;
        max-width: 500px;
        height: auto; 
      }
    
    text {
        padding:10px;
        align-self: center;
        color:#E5D0CC;
    }

}

/* make things pretty and the div look correct */
.title{
    align-items: center;
    justify-content: center;
    display:flex;
}

.container{
    display:flex;
    justify-content: left;
    width:auto;
    height:auto;
    padding:50px;
}


h2{
    color:#E5D0CC;
}
p{
    color:#E5D0CC;
    }

.actual_img {
    width: 100%;
    max-width: 500px;
    height: auto; 
    display: block;
  }



/* nav css */
body{
    margin:0;
    background-color: #444554;
}
nav{
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display:flex;
    background-color:  #172121;
    margin:0;
    padding:10px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: #7F7B82;
    padding: 10px;
}

li a:hover{
    background-color: #E5D0CC;
    font-size: 30px;
    transition: all 0.5s ease;
}


li a:active{
    background-color: white;
    color: #172121;
}