/* turn image carosel into row and change text location for mobile view */
@media screen and (orientation: portrait) {
    .container{
        display:flex;
        flex-wrap: wrap;
        gap: 2em;
    }
  
    .full-img
    {
        width:150px;
        height: auto;
        max-width: 20px;
    }
    
    .text {
        padding:10px;
        align-self: center;
    }
  
    .thumb-bar{
      display: flex;
      flex-direction:row;
    }
  
    .thumb-bar img{
      margin-left: 10px;
    }
    
  }
  
  /* text on the right */
  .textcon {
    padding: 10px;
  }
  .text{
    font-size: 20px;
    padding-left: 20px;
    padding-right:100px;
  }
  
  /* making the image carosel into a column when in browser view */
  @media screen and (min-width: 1024px) {
    .thumb-bar {
      display: flex;
      /* flex-direction: column; */
      margin-left: 15px;
    }
  }
  
  /* image selector css */
  h1 {
      text-align: center;
      color: #E5D0CC;
    }
  p{
    color:#E5D0CC;
  }
    
    .container {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin: 10px;
      justify-content: flex-start;
    }
    
    .thumb-bar {
      display: flex;
      /* flex-direction: column; */
      margin-left: 15px;
    }
    
    .thumb-bar img {
      display: block;
      width: 80px;
      cursor: pointer;
      border:2px solid #172121;
      border-radius: 2px;
    }
  
    .thumb-bar:hover{
      transform: scale(1.1);
      transition: all 0.5s ease;
      cursor: pointer;  
      height: auto;
  }
    
  .displayed-img {
    width: 90%;
    max-width: 500px;
    height: auto; 
    display: block;
    border:2px solid #172121;
    border-radius: 2px;
  }

  #link
  {
    color:#BFACB5;
  }
  
  
  
  /* nav css */
  body{
      margin:0;
      background-color: #444554;
  }
  nav{
      position: sticky;
      top: 0;
  }
  ul{
      list-style: none;
      display:flex;
      background-color:  #172121;
      margin:0;
      padding:10px;
      justify-content: center;
  }
  
  li a{
      text-decoration: none;
      color: #7F7B82;
      padding: 10px;
  }
  
  li a:hover{
      background-color: #E5D0CC;
      font-size: 30px;
      transition: all 0.5s ease;
  }
  
  
  li a:active{
      background-color: white;
      color: #172121;
  }